.logo {
    width: 200px;
    height: 120px;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.logo h1 {
    padding-left: 20px;
}

.logo > .music {
    display: flex;
}

.logo > .left_line {
    background-color: white;
    width: 3px;
    height: 85px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.logo > .top_line {
    background-color: white;
    width: 60px;
    height: 3px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.logo > .bottom_line {
    background-color: white;
    width: 60px;
    height: 3px;
    position: absolute;
    left: 30px;
    bottom: 14px;
}

.logo > .block_s {
    color: black;
    background-color: white;
    width: 16px;
    height: 46px;
    position: absolute;
    left: 114px;
    bottom: 27px;
    border-radius: 2px;
}

.logo > .s {
    color: black;
    position: absolute;
    font-size: 33px;
    top: 41px;
    left: 114px;
    font-weight: bold;
}

.logo > .school {
    position: absolute;
    top: 75px;
    left: 138px;
}





