.block_menu {
    font-family: 'Play-Regular', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100px;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 60%;
    z-index: 50;
}


.menu a > .lesson {
    border: 2px solid white;
    padding: 14px 24px 15px;
    transition: .4s;
}


.menu a > .lesson:hover {
    background-color: white;
    color: black;
}

