{% load static %}


{% if color == "black" %}
<div class="network">
    <img src="{% static 'icons/icons8-viber-50.png' %}" alt="">
    <img src="{% static 'icons/icons8-vk-com-50.png' %}" alt="">
    <img src="{% static 'icons/icons8-youtube-50.png' %}" alt="">
    <img src="{% static 'icons/icons8-почта-50.png' %}" alt="">
    <img src="{% static 'icons/icons8-телеграм-50.png' %}" alt="">
</div>
{% endif %}
    


{% if color == "white" %}
<div class="network">
    <img src="{% static 'icons/icons8-viber-50-invert.png' %}" alt="">
    <img src="{% static 'icons/icons8-vk-com-50-invert.png' %}" alt="">
    <img src="{% static 'icons/icons8-youtube-50-invert.png' %}" alt="">
    <img src="{% static 'icons/icons8-почта-50-invert.png' %}" alt="">
    <img src="{% static 'icons/icons8-телеграм-50-invert.png' %}" alt="">
</div>
{% endif %}
    


    

    

    

<style>
.network {
    padding: 30px;
    margin-top: 40px;
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.network img {
    cursor: pointer;
    height: 25px;
    width: 25px;
}
</style>


<script>
window.onload = function donenow() {

    const on = "50%"
    const off = "100%"

    document.querySelector("img:nth-child(1)").addEventListener("mouseenter",
        function() { changeImgOpacity(this, on, 0); });
    document.querySelector("img:nth-child(1)").addEventListener("mouseleave",
        function() { changeImgOpacity(this, off, 0); });

    document.querySelector("img:nth-child(2)").addEventListener("mouseenter",
        function() { changeImgOpacity(this, on, 1); });
    document.querySelector("img:nth-child(2)").addEventListener("mouseleave",
        function() { changeImgOpacity(this, off, 1); });

    document.querySelector("img:nth-child(3)").addEventListener("mouseenter",
        function() { changeImgOpacity(this, on, 2); });
    document.querySelector("img:nth-child(3)").addEventListener("mouseleave",
        function() { changeImgOpacity(this, off, 2); });

    document.querySelector("img:nth-child(4)").addEventListener("mouseenter",
        function() { changeImgOpacity(this, on, 3); });
    document.querySelector("img:nth-child(4)").addEventListener("mouseleave",
        function() { changeImgOpacity(this, off, 3); });

    document.querySelector("img:nth-child(5)").addEventListener("mouseenter",
        function() { changeImgOpacity(this, on, 4); });
    document.querySelector("img:nth-child(5)").addEventListener("mouseleave",
        function() { changeImgOpacity(this, off, 4); });
}

function changeImgOpacity(el, val, number) {

    const listIcons = document.querySelectorAll(".network > img")
    for (let i = 0; i < 5; i ++) {

        if (i !== number) {
            listIcons[i].style.opacity = val;
            listIcons[i].style.transition = ".2s";
        }
    }
}
</script>