<div class="logo">
    <div class="music">
        <h1>Mu</h1>
        <h1>ic</h1>
    </div>
    <div class="left_line"></div>
    <div class="top_line"></div>
    <div class="bottom_line"></div>
    <div class="block_s"></div>
    <div class="s">s</div>
    <div class="school">School</div>
</div>


<style>
    .logo {
        font-family: 'Ubuntu-Regular', sans-serif;
        width: 200px;
        height: 120px;
        position: relative;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    .logo h1 {
        padding-left: 30px;
    }

    .logo>.music {
        display: flex;
        position: absolute;
    }

    .logo>.left_line {
        background-color: white;
        width: 3px;
        height: 85px;
        position: absolute;
        left: 0px;
        top: 20px;
    }

    .logo>.top_line {
        background-color: white;
        width: 60px;
        height: 3px;
        position: absolute;
        left: 0px;
        top: 20px;
    }

    .logo>.bottom_line {
        background-color: white;
        width: 60px;
        height: 3px;
        position: absolute;
        left: 0px;
        bottom: 14px;
    }

    .logo>.block_s {
        color: black;
        background-color: white;
        width: 16px;
        height: 46px;
        position: absolute;
        left: 84px;
        bottom: 27px;
        border-radius: 2px;
    }

    .logo>.s {
        color: black;
        position: absolute;
        font-size: 33px;
        top: 41px;
        left: 84px;
        font-weight: bold;
    }

    .logo>.school {
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        top: 75px;
        left: 108px;
    }
</style>