{% load static %}
{% load TagConfig %}

<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <meta charset="utf-8" />


        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <script src="{% static 'js/home/icons.js' %}"></script>
    </head>

    <body>
                <header>
                    {% block header %}{% endblock header %}
                </header>
        <div class="content_block">
            <div class="content">
                {% line %}
                {% block info %}{% endblock info %}
                {% line %}
                {% block gallery %}{% endblock gallery %}
                {% line %}
                    
                    
            </div>
        </div>

        <footer>
            {% block footer %}{% endblock footer %}
        </footer>
    </body>
    {% static '' %}
    <style>
        
        @import url("{% static 'css/settings.css' %}");
        @import url("./home/logo.css");
        @import url("./home/menu.css");
        @import url("./home/slogan.css");
        @import url("./home/info.css");
        @import url("./home/gallery.css");
        @import url("./home/footer.css");
    </style>
</html>
